<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid justify-content-start">
    <a class="navbar-brand" routerLink="/">
      <img
        src="assets/camera-icon.png"
        alt="Logo"
        width="40"
        height="39"
        class="d-inline-block align-text-top"
      />
      Photo Moments
    </a>
    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a id="share-link" class="nav-link" routerLink="/share"
            >Compartilhar</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">Sobre</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
